/* line 3, scss/home.scss */
.section-person .icon, .section-exp .icon, .section-abaut .icon {
  width: 45px;
  height: 45px; }

/* line 7, scss/home.scss */
.section-person, .section-exp, .section-abaut {
  text-align: center;
  padding-top: 60px; }

/* line 17, scss/home.scss */
body {
  font-family: 'Roboto', sans-serif; }

/* line 20, scss/home.scss */
.wrap {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 720px) {
    /* line 20, scss/home.scss */
    .wrap {
      padding-left: 3%;
      padding-right: 3%; } }
  /* line 30, scss/home.scss */
  .wrap .text {
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px; }

/* line 38, scss/home.scss */
.navigate {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px; }
  /* line 42, scss/home.scss */
  .navigate a {
    color: #4e4e4e; }
  /* line 45, scss/home.scss */
  .navigate a:hover, .navigate a:active {
    transition: 200ms;
    color: #0095c2; }

/* line 50, scss/home.scss */
.nav-item {
  text-transform: uppercase; }

/* line 54, scss/home.scss */
.bg-photo {
  background: url("../img/bg-photo.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 180px;
  position: relative;
  overflow: hidden; }
  /* line 61, scss/home.scss */
  .bg-photo .blurring {
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px -10px 70px 35px #fff; }
    /* line 69, scss/home.scss */
    .bg-photo .blurring .text {
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      color: #000;
      font-size: 70px;
      text-align: center;
      font-weight: 100; }

/* line 83, scss/home.scss */
.section-person .icon {
  background: url("../img/icon1.png");
  background-size: cover; }

/* line 89, scss/home.scss */
.section-person .my-sell {
  margin-top: 20px; }

/* line 92, scss/home.scss */
.section-person #year {
  font-size: 16.5px;
  border: 1px solid #4e4e4e34;
  border-radius: 5px;
  border-right: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 310px;
  padding: 10px;
  opacity: 0.5; }

/* line 104, scss/home.scss */
.section-person #up {
  font-size: 12.5px;
  color: #181d68;
  padding: 10px;
  padding-top: 14px;
  border: 1px solid #4e4e4e34;
  border-radius: 5px;
  border-left: none;
  display: none;
  cursor: pointer; }

/* line 114, scss/home.scss */
.section-person #down {
  font-size: 12.5px;
  color: #181d68;
  padding: 10px;
  padding-top: 14px;
  border: 1px solid #4e4e4e34;
  border-radius: 5px;
  border-left: none;
  display: inline-block;
  cursor: pointer; }

/* line 125, scss/home.scss */
.section-person #bloc {
  display: none;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
  border: 1px solid #4e4e4e34;
  border-radius: 5px; }

/* line 133, scss/home.scss */
.section-person #bloc select {
  padding: 7px 150px 7px 150px;
  font-size: 18px;
  margin: -5px -20px -5px -5px; }

/* line 139, scss/home.scss */
.section-person .text {
  margin-bottom: 40px; }

/* line 142, scss/home.scss */
.section-person .form-control {
  text-align: center;
  width: 510px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-top: 20px; }
  @media (max-width: 720px) {
    /* line 142, scss/home.scss */
    .section-person .form-control {
      width: 340px; } }
  /* line 12, scss/home.scss */
  .section-person .form-control::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 300ms; }
  /* line 13, scss/home.scss */
  .section-person .form-control:-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 300ms; }
  /* line 14, scss/home.scss */
  .section-person .form-control::-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 300ms; }
  /* line 15, scss/home.scss */
  .section-person .form-control:-ms-input-placeholder {
    text-indent: 0px;
    transition: text-indent 300ms; }
  /* line 157, scss/home.scss */
  .section-person .form-control:focus {
    border-color: #380180;
    box-shadow: none; }
    /* line 12, scss/home.scss */
    .section-person .form-control:focus::-webkit-input-placeholder {
      text-indent: -700px; }
    /* line 13, scss/home.scss */
    .section-person .form-control:focus:-moz-placeholder {
      text-indent: -700px; }
    /* line 14, scss/home.scss */
    .section-person .form-control:focus::-moz-placeholder {
      text-indent: -700px; }
    /* line 15, scss/home.scss */
    .section-person .form-control:focus:-ms-input-placeholder {
      text-indent: -700px; }

/* line 165, scss/home.scss */
.section-person .container-form {
  width: 510px;
  position: relative;
  margin: 0 auto; }
  @media (max-width: 720px) {
    /* line 165, scss/home.scss */
    .section-person .container-form {
      width: 340px; } }

/* line 173, scss/home.scss */
.section-person .label {
  display: none;
  position: absolute;
  top: 0;
  left: 48%;
  bottom: 0;
  color: #000;
  font-size: 11px;
  opacity: 0.5; }

/* line 183, scss/home.scss */
.section-person #lbl3 {
  left: 41%; }
  @media (max-width: 720px) {
    /* line 183, scss/home.scss */
    .section-person #lbl3 {
      left: 38%; } }

/* line 193, scss/home.scss */
.section-exp .icon {
  background: url("../img/icon2.png");
  background-size: cover; }

/* line 198, scss/home.scss */
.section-exp .custom-control {
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer; }
  @media (max-width: 770px) {
    /* line 198, scss/home.scss */
    .section-exp .custom-control {
      margin-left: 30%; } }

/* line 207, scss/home.scss */
.section-exp input[type=checkbox] {
  display: none; }

/* line 209, scss/home.scss */
.section-exp input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid #181d68;
  border-radius: 4px;
  font-size: 20px;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
  cursor: pointer; }

/* line 225, scss/home.scss */
.section-exp label {
  cursor: pointer; }

/* line 228, scss/home.scss */
.section-exp input[type=checkbox]:checked + label:before {
  background: #181d68;
  color: #fff; }

/* line 233, scss/home.scss */
.section-exp .text {
  margin-bottom: 40px; }

/* line 241, scss/home.scss */
.section-abaut .icon {
  background: url("../img/icon3.png");
  background-size: cover; }

/* line 246, scss/home.scss */
.section-abaut .text {
  margin-bottom: 10px; }

/* line 249, scss/home.scss */
.section-abaut .text2 {
  margin: 0 auto;
  max-width: 500px; }

/* line 253, scss/home.scss */
.section-abaut textarea {
  resize: none;
  width: 480px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px; }
  @media (max-width: 720px) {
    /* line 253, scss/home.scss */
    .section-abaut textarea {
      width: 340px; } }
  /* line 12, scss/home.scss */
  .section-abaut textarea::-webkit-input-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-indent: 0px;
    transition: text-indent 400ms; }
  /* line 13, scss/home.scss */
  .section-abaut textarea:-moz-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-indent: 0px;
    transition: text-indent 400ms; }
  /* line 14, scss/home.scss */
  .section-abaut textarea::-moz-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-indent: 0px;
    transition: text-indent 400ms; }
  /* line 15, scss/home.scss */
  .section-abaut textarea:-ms-input-placeholder {
    opacity: 0.5;
    font-size: 18px;
    text-indent: 0px;
    transition: text-indent 400ms; }
  /* line 268, scss/home.scss */
  .section-abaut textarea:focus {
    border-color: #380180;
    box-shadow: none; }
    /* line 12, scss/home.scss */
    .section-abaut textarea:focus::-webkit-input-placeholder {
      text-indent: -700px; }
    /* line 13, scss/home.scss */
    .section-abaut textarea:focus:-moz-placeholder {
      text-indent: -700px; }
    /* line 14, scss/home.scss */
    .section-abaut textarea:focus::-moz-placeholder {
      text-indent: -700px; }
    /* line 15, scss/home.scss */
    .section-abaut textarea:focus:-ms-input-placeholder {
      text-indent: -700px; }

/* line 276, scss/home.scss */
.section-abaut .btn-primary {
  background: #373fb4;
  border-color: #373fb4;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 16px;
  margin-bottom: 60px; }
  /* line 283, scss/home.scss */
  .section-abaut .btn-primary:hover, .section-abaut .btn-primary:focus, .section-abaut .btn-primary:active {
    box-shadow: none;
    outline: 0px;
    background: #181d68;
    border-color: #181d68; }
