// ---------------------------
// Global variables
// ---------------------------

// Colors
// ---------------------------

// Gray
$black: 		#000;
$darkGray: 		#4e4e4e;
$darkDarkGray:  #050707;
$white: 		#fff;

// Blue
$blue:          #0095c2;
$darkBlue:      rgb(56, 1, 128);
$darkBlue2:      rgb(55, 63, 180);
$darkBlue3:      rgb(24, 29, 104);

// Size
$mainContainer: 1400px;

$containerHorIndent: 20px;
$containerVerIndent: 60px;

$containerHorIndentMobile: 3%;
$containerVerIndentMobile: 4rem;
