@import "variables";
//для 3 4 и 5 секций
%icons{
    width: 45px;
    height: 45px;
}
%section{
    text-align: center;
    padding-top: $containerVerIndent;
}
@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
.wrap{
    margin: 0 auto;
    max-width: $mainContainer;
    padding-left: $containerHorIndent;
    padding-right: $containerHorIndent;
    @media (max-width: 720px){
        padding-left: $containerHorIndentMobile;
        padding-right: $containerHorIndentMobile;
      }
      // для 3 4 и 5 секции
    .text{
      font-size: 30px;
      font-weight: 300;
      margin-top: 15px;
    }
}

// 1-вая секция,  меню
.navigate{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    a{
        color: $darkGray;
    }
    a:hover, a:active{
        transition: 200ms;
        color: $blue;
    }
}
.nav-item{
    text-transform: uppercase;
}
// 2-рая секция 
.bg-photo{
    background: url('../img/bg-photo.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 180px;
    position: relative;
    overflow: hidden;
    .blurring{
        height: 25px; 
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $white;
        box-shadow: 0px -10px 70px 35px $white;
        .text{
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
            color: $black;
            font-size: 70px;
            text-align: center;
            font-weight: 100;
        } 
    }
}
// 3-тяя секция 
.section-person{ 
    .icon{
        @extend %icons;
        background: url("../img/icon1.png");
        background-size: cover;
    }
    @extend %section;
    
    #mysel{
        text-align: center;
        text-align-last: center; 
        width: 310px;
        height: 50px;
        @media (max-width: 720px){
            width: 240px;
          }
    }
    .text{
        margin-bottom: 40px;
      }
    .form-control{
        text-align: center;
        width: 510px;
        height: 50px;
        opacity: 0.5;
        font-size: 18px;
        margin-top: 20px;
        @media (max-width: 720px){
            width: 340px;
          }
        @include placeholder {
            text-indent: 0px;
            transition: text-indent 300ms;
          }
        &:focus{
            border-color: $darkBlue;
            box-shadow: none;
            @include placeholder {
              text-indent: -700px;
            }
        }
    }
    .container-form{
        width: 510px;
        position: relative;
        margin: 0 auto;
        @media (max-width: 720px){
            width: 340px;
          }
    }
    .label{
        display: none;
        position: absolute;
        top: 0;
        left: 45%;
        bottom: 0;
        color: $black;
        font-size: 12px;
        opacity: 0.5;

    }
    
}
// 4-тая секция 
.section-exp{
    @extend %section;
    .icon{
        background: url("../img/icon2.png");
        background-size: cover;
        @extend %icons;
    }
    .custom-control{
        text-align: left;
        margin-bottom: 5px; 
        cursor: pointer;
        @media (max-width: 770px){
            margin-left: 30%; 
        }
    }
    .text{
        margin-bottom: 40px;
      }
}
// 5-тая секция 

.section-abaut{
    @extend %section;
    .icon{
        @extend %icons;
        background: url("../img/icon3.png");
        background-size: cover;
    }
    .text{
        margin-bottom:10px;
      }
    .text2{
        margin: 0 auto;
        max-width: 500px;
    }
    textarea {
        resize:none;
        width: 480px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 55px;
        @media (max-width: 720px){
            width: 340px;
          }
        @include placeholder {
            opacity: 0.5;
            font-size: 18px;
            text-indent: 0px;
            transition: text-indent 400ms;
          }
        &:focus{
            @include placeholder {
              text-indent: -700px;
            }
        }
    }
    .btn-primary{
        background: $darkBlue2;
        border-color: $darkBlue2;
        border-radius: 10px; 
        opacity: 0.9;
        font-size: 16px;
        margin-bottom: 60px;
        &:hover{
        box-shadow: none;
        background: $darkBlue3;
        border-color: $darkBlue3;
        }
    }
}